<?xml version="1.0"?>
<!--
/**
 * Tourwithalpha DirectoryImages Module
 * Module declaration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Tourwithalpha_DirectoryImages" setup_version="1.0.0">
        <sequence>
            <module name="Magento_GraphQl"/>
        </sequence>
    </module>
</config>
