<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="stripe_payments_redirect_url"
                type="Tourwithalpha\StripePayment\Plugin\PlaceOrderPlugin" disabled="false"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\AvailablePaymentMethods">
        <plugin name="after_available_paymentmethods_stripe" type="Tourwithalpha\StripePayment\Plugin\AvailablePaymentMethodsPlugin"/>
    </type>

</config>
