<?xml version="1.0"?>
<!--
/**
 * Tourwithalpha BookingCount Module
 * ACL configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- Offline Sales management -->
                <resource id="Tourwithalpha_BookingCount::offline_sales"
                          title="Tourwithalpha Offline Sales"
                          sortOrder="100"/>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Tourwithalpha_BookingCount::config" title="Tourwithalpha Booking Limits" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
